@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #E5E5E5;
  text-align: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
main {
  
} */


a {
  color: inherit;
  text-decoration: none;
}

h2,h3 {
  width: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.mb-30px {
  margin-bottom: 30px;
}

.mx-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.w-100 {
  max-width: 100%;
  width: 100%;
}

.ml-0 {
  margin-left: 0 !important;
}

.pr-10px {
  padding-right: 10px;
}


.three-dot {
  color: #9796A8;
  font-size: 2.4rem;
  height: 10px;
  line-height: .35;
  cursor: pointer;
}


.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}


.line-through {
  text-decoration: line-through;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration-line: line-through;

  color: #A9A9A9;
}

.container {
  max-width: 960px;
  width: 100%;
  display: flex;
}


.flex-row {
  display: flex;
} 

.between {
  justify-content: space-between;
}


label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  max-width: 100%;
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 160px; 
  height: 1.2em; 
  white-space: nowrap;
  flex-grow: 1;
}

.todo {
  background: #FFFFFF;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100%;
    max-width:100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.03));
}

/* customize */

/* Checkbox */
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: auto 10px auto 10px;
  font: inherit;
  color: currentColor;
  width: 22px;
  height: 22px;
  border: 2px solid #585292;
  border-radius: 6px;
  transform: translateY(-0.075em);
  
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 6px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* box-shadow: inset 1em 1em #585292; */
  background: #FFF url('data:image/svg+xml;utf8,<svg width="8" height="8" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.08339 6.04014L1.75085 3.7076L0.749268 4.70918L4.08339 8.04331L10.9592 1.16751L9.9576 0.165932L4.08339 6.04014Z" fill="white"/></svg>') no-repeat ;
  background-position: right -4px top 3px;
  background-size: contain;
  background-color: #585292;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


/* Text input */

input[type="text"] {
  width: 100%;
  border: 0;
  margin: auto 10px auto 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #2E2E2E;
}

input[type="text"]::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #BCBCBC;
}

input[type="text"]:focus-visible {
  outline: none;
}



/* selecte menu */
select {
  position: relative;
  outline: none;
  /* appearance: none; */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 1em;
  margin: 0;
  width: 100%;
  /* font-family: inherit; */
  font-size: 9px;
  cursor: inherit;
  line-height: inherit;
}

select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

select[multiple] {
  padding-right: 0;
}

.select::-ms-expand {
  display: none;
}





/* Button setup */

.edit-btn,
.delete-btn {
  min-width: 80px;
  background-color: #FFF;
  border: 0;
  text-align: left;
  padding: 10px 0;
  z-index: 100;
  position: relative;
}

.edit-btn {
  color: #2E2E2E;
}

.delete-btn {
  color:  #E07C7C;
}